body{
    background-color: #add8e6;
}
h1{
    border: 1px solid black
}
h2{
    color: purple
}
input{
    border: 2px solid rgb(139, 0, 0)
}
div p {
    background-color: lightyellow
}
#textblock{
    border: 5px solid grey;
    width: 800px;
    height: 400px;
}
li a{
    color: red;
}
#itemone{
    text-decoration: overline;
    color: purple;
}
.exit{
    background-color: blue;
    border: 4px dashed yellow;
}
li a:visited {
    color: chartreuse;
}
.spacer{
    height: 300px;
    background-color: aliceblue;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
table{
    margin: auto;
}
td{
    height: 500px;
    width: 500px;
    border: 6px solid #add8e6;
}
.one{
    background-color: #20BF55;
    margin-left: 100px;
}
.two{
    background-color: #0B4F6C;
}
.three{
    background-color: #01BAEF;
}
.four{
    background-color: #FBFBFF;
}
.five{
    background-color: #757575;
}
.projecth1{
    text-align: center;
    border: none;
}
.projecth1{
    font-family: 'Fasthand', cursive;
}